.chat-layout {
    display: flex;
    height: 100vh;
}
.chat-list {
    width: 300px;
    border-right: 1px solid #e0e0e0;
    overflow-y: auto;
    background: #f7fafd;
    padding: 20px 0;
}
.chat-detail {
    flex: 1 1 auto;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.create-chatroom-container {
    max-width: 500px;
    margin: 50px 20px;
    background-color: rgb(239, 247, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.create-chatroom-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error {
    color: red;
}
.chatroom {
    max-width: 300px;
    margin: 10px 5px;
    background-color: rgb(239, 247, 255);
    padding: 1px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.chatroom:hover {
    cursor: pointer;
}

h3 {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.group-icon {
    margin-right: 5px;
}
.online-icon {
    color: green;
}
