<div class="chat-layout">
  <div class="sidebar">
    <button mat-raised-button color="primary" class="add-room-btn" (click)="openCreateChatroomDialog()">
      New chatroom <mat-icon>add</mat-icon>
    </button>
    <div class="sidebar-tabs">
      <button [class.active]="activeTab === 'chatrooms'" (click)="activeTab = 'chatrooms'">Chatrooms</button>
      <button [class.active]="activeTab === 'onlineUsers'" (click)="activeTab = 'onlineUsers'">Online Users</button>
    </div>
    <div class="sidebar-content">
      @if (activeTab === 'chatrooms') {
        @for (room of displayRooms$ | async; track room.id) {
          <div (click)="openOrJoinChatroom(room)" [class.selected]="room.id === openedRoomId" class="chatroom">
            <h3>
              @if (room.type === 'group') {
                <mat-icon class="group-icon">group</mat-icon>
              } @else if (room.type === 'private') {
                <mat-icon class="private-icon" [ngClass]="(onlineUids$ | async)?.includes(room.otherUid) ? 'online-icon' : ''">person</mat-icon>
              }
              {{ room.name }}
            </h3>
            <p class="last-message" [ngClass]="isRestrictedAccess(room) ? 'special-access' : (!room.lastMessage ? 'no-messages' : '')" >
            @if (isRestrictedAccess(room)) {
              {{ "Restricted access" }}
            } @else if (room.lastMessage) {
              {{ formatLastMessage(room.lastMessage) }} ({{ formatTimestamp(room.lastMessageTimestamp) }})
            } @else {
              {{ "No messages yet..." }}
            }
            </p>
          </div>
        }
      } @else if (activeTab === 'onlineUsers') {
         <!--@if (onlineUserCount > 0) {-->
          @for (user of onlineUsers$ | async; track user.id) {
            <div class="online-user chatroom" (click)="openPrivateChat(user.id)">
              <h3 class="online-name"><mat-icon class="online-icon">person</mat-icon> {{ user.name }}</h3>
            </div>
          }
        <!--} @else {
          <p class="no-online-users">No online users...</p>
        }-->
      }
    </div>
  </div>
  <!--<div class="user-list">
      <app-user-list></app-user-list>
  </div>-->
  <div class="chat-detail">
    <app-chatroom [roomId]="openedRoomId"></app-chatroom>
  </div>
</div>
