.chat-layout {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 300px;
    border-right: 1px solid #e0e0e0;
    background: #f7fafd;
}
.add-room-btn {
    margin: auto auto;
}
.sidebar-tabs {
    display: flex;
    margin-top: 5px;
    button {
        flex: 1;
        border: none;
        background-color: #f7fafd;
        padding: 10px;
        cursor: pointer;
        &.active {
            background: #fff;
            font-weight: bold;
            border-bottom: 2px solid #1976d2;
        }
    }
}
.sidebar-content {
    overflow-y: auto;
    min-height: 0;
    max-height: 77vh;
}
.chat-detail {
    flex: 1 1 auto;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.create-chatroom-container {
    max-width: 500px;
    margin: 50px 20px;
    background-color: rgb(239, 247, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.create-chatroom-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.error {
    color: red;
}
.chatroom {
    max-width: 300px;
    margin: 10px 5px;
    background-color: rgb(239, 247, 255);
    padding: 1px 20px;
    border-radius: 12px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: background-color 200ms linear;
}
.chatroom:hover {
    cursor: pointer;
    background-color: rgb(229, 241, 253);
}

h3 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 0;
}
.online-name {
    margin-bottom: 15px;
}
.last-message {
    margin-top: 5px;
    color: darkslategray;
}
.special-access, .no-messages {
    font-style: italic;
}
.group-icon {
    margin-right: 5px;
}
.online-icon {
    color: green;
}

.no-online-users {
    font-style: italic;
    color: rgb(129, 162, 173);
}
