<div class="chat-layout">
  <div class="chat-list">
    <h2>Hello, {{ (userProfile$ | async)?.name }}!</h2>
    @for (room of displayRooms$ | async; track room.id) {
      <div (click)="openOrJoinChatroom(room)" [class.selected]="room.id === openedRoomId" class="chatroom">
        <h3>
          @if (room.type === 'group') {
            <mat-icon class="group-icon">group</mat-icon>
          } @else if (room.type === 'private') {
            <mat-icon class="private-icon" [ngClass]="onlineUids.includes(room.otherUid) ? 'online-icon' : ''">person</mat-icon>
          }
          {{ room.name }}
        </h3>
        <p class="last-message" [ngClass]="isRestrictedAccess(room) ? 'special-access' : ''">
        @if (isRestrictedAccess(room)) {
          {{ "Restricted access" }}
        } @else {
          {{ formatLastMessage(room.lastMessage) }} ({{ formatTimestamp(room.lastMessageTimestamp) }})
        }
        </p>
      </div>
    }
    <button mat-fab color="primary" class="add-room-btn" (click)="openCreateChatroomDialog()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <!--@if (openedRoomId) {-->
    <div class="chat-detail">
      <app-user-list></app-user-list>
      <!--<app-chatroom [roomId]="openedRoomId"></app-chatroom>-->
    </div>
  <!--}-->
</div>
