<div class="chatroom-container">
    @if (roomId) {
        <div class="chatroom-header">
            <div class="details">
                <h2 class="chat-title" [ngClass]="(chatroom$ | async)?.type === 'group' ? 'group-name' : 'recipient-name'">{{ getChatroomName(chatroom$ | async) || 'Loading...' }}</h2>
                @if ((chatroom$ | async)?.type === 'group') {
                    <p class="members-count">Members: {{ (chatroom$ | async)?.members?.length || 0 }}</p>
                }
            </div>
            <div class="actions">
                @if ((chatroom$ | async)?.type === 'group') {
                    <button matMiniFab *ngIf="chatroom$ | async as currentRoom" (click)="leaveChatroom(currentRoom)" class="action-btn"><mat-icon>exit_to_app</mat-icon></button>
                    @if ((chatroom$ | async)?.ownerId === undefined || (chatroom$ | async)?.ownerId === this.auth.currentUser?.uid) {
                        <button matMiniFab *ngIf="chatroom$ | async as currentRoom" (click)="openUpdateChatroomDialog(currentRoom.name, currentRoom.members)" class="action-btn"><mat-icon>edit</mat-icon></button>
                        <button matMiniFab (click)="deleteChatroom()" class="action-btn"><mat-icon>delete</mat-icon></button>
                    }
                }
            </div>
        </div>

        <div class="messages-container" #messagesContainer>
            @for (message of messagesWithSenders$ | async; track message.id; let i = $index) {
                <div class="message-container">
                    @if (!message.prev || (message.prev && displayDateAbove(message.timestamp, message.prev.timestamp))) {
                        <div class="message-date"> {{ formatTimestampFull(message.timestamp) }} </div>
                    }
                    @if (message.prev?.senderId !== message.senderId) {
                        <div class="sender-name" [ngClass]="message.senderName == (userProfile$ | async)?.name ? 'self' : 'not-self'"> {{ message.senderName }} </div>
                    }
                    <div class="message" [ngClass]="message.senderName == (userProfile$ | async)?.name ? 'self' : 'not-self'" [title]="formatTimestampFull(message.timestamp)">
                        {{ message.text }}
                    </div>
                </div>
            } @empty {<p>No messages yet</p>}
        </div>

        <div class="send-message-container">
            <form [formGroup]="sendForm" (ngSubmit)="sendMessage()">
                <mat-form-field appearance="outline" hideRequiredMarker class="message-input">
                    <mat-label>Send a message...</mat-label>
                    <input matInput formControlName="message" type="text">
                </mat-form-field>
                <button matMiniFab color="primary" type="submit" class="send-btn"><mat-icon>send</mat-icon></button>
            </form>
        </div>
    } @else {
        <p class="get-started">Click on a chat to get started!</p>
    }
</div>
